<h2 class="ui center aligned icon padded header">
  <i class="circular user secret icon"></i>
  Talk to you friendly OcttoBot
</h2>

<div class="ui two colum padded grid">
    <div class="four wide column">
        <div class="ui fuild raised card chatbox">
            <div class="content">
                <div class="ui inverted vertical pointing menu">
                    <a class="active item">
                        Conversation 1
                    </a>
                    <a class="item">
                        Conversation 2
                    </a>
                    <a class="item">
                        Conversation 3
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <em>Elliot Fu</em>: test message
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <em>Stevie Feliciano</em>: test message
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <em>Helen Troy</em>: test message
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
            <form class="ui reply form">
                <div class="field">
                    <div class="ui fluid icon input">
                        <input type="text" placeholder="Give me a command...">
                        <i class="bordered inverted blue icon edit"></i>
                    </div>
                </div>
                
            </form>
            </div>
        </div>
    </div>
</div>
